@import url('https://fonts.googleapis.com/css2?family=Alilato+Arabic:wght@400;700&display=swap');
@import "tailwindcss";

* {
  font-family: 'Alilato Arabic', sans-serif;
}

body {
  background-color: #f8f8f8;
}